.markdown-body {
  background-color: unset !important;
  h1,
  h2 {
    // border-bottom: 1px solid darken($color: #a29ea7, $amount: 15%) !important;
    border-bottom: unset !important;
  }
  p {
    line-height: 1.5;
  }
}
